@import "../variables.scss";
.paretto__header {
  background-color: $dark-color;
  color: $light-color;
  overflow: auto;
  padding: 1rem 0;

  .header__logo {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    a {
      color: $light-color;
      font-size: 2em;
      line-height: 1;
      span {
        color: $contrast-color;
      }
      small {
        font-size: .4em;
        display: block;
        margin-right: 16px;
      }
    }
  }



  nav {
    display: inline-block;
    padding: .4rem 0;
    float:right;
    a {
      font-size: 1.4em;
      vertical-align: middle;
      margin-right: 1rem;
      &:hover {
        color: $lite-contrast-color;
      }
    }
    .header__usermenu {
      margin-top: .2rem;
    }
  }
}
