/* You can add global styles to this file, and also import other style files */
@import "variables";
body {
  background-color: $bgr-grey;
  font-family: $sans-font;
  font-size: $font-size;
  font-weight: $font-weight;
}

.p-container {
  width: $container-width;
  margin: 0 auto;
}

a {
  color: $contrast-color;
  text-decoration: none;
  @include noOutline;
}

button {
  background-color: transparent;
  color: inherit;
  @include noOutline;
}

input {
  background-color: transparent;
  @include noOutline;
}
